{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>All Gyms</h1>
    </div>
    {% for gym in gyms %}
        <div class="well well-sm">
            <h4 class="pull-left"><a href="/gym/{{ gym.id }}">{{ gym.name }}</a></h4>
            <h5 class="pull-right">Members: <a href="/gym/{{ gym.id }}/members/">{{ gym.members|length }}</a></h5>
            <br /><br />
            <h5>Owners: </h5>
            <ul>
                {% for owner in gym.owners %}
                    <li><a href="/user/{{ owner.id }}">{{ owner.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}