{% extends "base.html" %}
{% block body %}
<div class="container">
    {% if gym %}
        <div class="page-header">
            <h1>Owners of: <a href="{{ url_for('gym', gym_id=gym.id) }}">{{ gym.name }}</a></h1>
            <ul>
                {% for owner in gym.owners %}
                    <li><a href="{{ url_for('user', user=owner.id) }}">{{ owner.username }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h3>(Gym Owners) Error!</h3>
    {% endif %}
</div>
{% endblock %}