{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Create Gym</h1>
    </div>
    <form class="form-workout" role="form" action="{{ url_for('gyms') }}" method="POST">
        <div class="form-group">
            <label for="gym-name">Gym name <font color="red">*</font></label>
            <input class="form-control" id="gym-name" name="gym_name" type="text"/><br>
        </div>
        <div class="form-group">
            <label for="gym-description">Gym description</label>
            <input class="form-control" id="gym-description" name="gym_description" type="text"/><br>
        </div>
        <input class="btn btn-lg btn-primary" name="submit" type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}