{% extends "base.html" %}
{% block body %}
{% if gym %}
    <div class="container">
        <div class="page-header">
            <h1>Edit Gym</h1>
        </div>
        <form class="form-workout" role="form" action="{{ url_for('gym', gym_id=gym.id) }}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="gym-name">Gym name <font color="red">*</font></label>
                <input class="form-control" id="gym-name" name="gym_name" type="text" value="{{ gym.name }}"/><br>
            </div>
            <div class="form-group">
                <label for="gym-description">Gym description</label>
                <input class="form-control" id="gym-description" name="gym_description" type="text" value="{{ gym.description }}"/><br>
            </div>
            <input class="btn btn-lg btn-primary" name="submit" type="submit" value="Submit"/>
        </form>
    </div>
{% else %}
     <h3>(Gym) Error!</h3>
{% endif %}
{% endblock %}