{% extends "base.html" %}
{% block body %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(function() {
        $("#tags").tagit({
            tagSource: function(search, response) {
                var that = this;
                $.ajax({
                    url: "{{ url_for('tags_api') }}",
                    dataType: "json",
                    data: {
                        q : search.term
                    },
                    success: function(data) {
                        response( $.map(data.tags, function(tag) {
                            return {
                                label: tag.text,
                                value: tag.text
                            }
                        }));
                    }
                });
            }
        });
    });
</script>
<div class="container">
    <div class="page-header">
        <h1>Search</h1>
    </div>
    <form id="search-form" action="{{ url_for('search') }}" method="POST">
        <div class="form-group">
            <label for="tags">Tags</label>
            <input class="form-control" id="tags" name="tags[]" value="{{ tags }}"/>
        </div>
            <label>Options</label>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="radio">
                            <label>
                                {% if not radio or radio == "user" %}
                                    <input type="radio" name="optionsRadios" value="user" checked>
                                {% else %}
                                    <input type="radio" name="optionsRadios" value="user">
                                {% endif %}
                                Just Me
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                {% if radio == "gym" %}
                                    <input type="radio" name="optionsRadios" value="gym" checked>
                                {% else %}
                                    <input type="radio" name="optionsRadios" value="gym">
                                {% endif %}
                                My Gym
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                {% if radio == "followed" %}
                                    <input type="radio" name="optionsRadios" value="followed" checked>
                                {% else %}
                                    <input type="radio" name="optionsRadios" value="followed">
                                {% endif %}
                                Followed Users
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                {% if radio == "all" %}
                                    <input type="radio" name="optionsRadios" value="all" checked>
                                {% else %}
                                    <input type="radio" name="optionsRadios" value="all">
                                {% endif %}
                                All Users
                            </label>
                        </div>
                        <br />
                        <div class="checkbox">
                            <label>
                                {% if prCheckbox %}
                                    <input type="checkbox" name="prCheckbox" checked>
                                {% else %}
                                    <input type="checkbox" name="prCheckbox">
                                {% endif %}
                                Only Display Workouts with PRs
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="from-date">From</label>
                            <input id="from-date" class="form-control" name="from_date" type="date" value="{{ from_date }}"/><br>
                        </div>
                        <div class="form-group">
                            <label for="to-date">To</label>
                            <input id="to-date" class="form-control" name="to_date" type="date" value="{{ to_date }}"/><br>
                        </div>
                    </div>
                </div>
            </div>
        <input class="btn btn-lg btn-primary" name="submit" type="submit" value="Submit"/>
    </form>
    <hr>
    <div class="row">
        {% if results %}
            {% for result in results %}
                <div class="well well-sm">
                    <h4><a href="{{ url_for('result', result_id=result.id) }}">{{ result.user.username}}</a></h4>
                    <ul>
                        {% for part in result.parts %}
                            <li>
                                {{ part.result }} <font class="text-muted">{{ part.part.uom }}</font>
                                {% if part.pr %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}