{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>Update Goal</h1>
    </div>
    <h3>
        {% if goal.complete %}
            <strike>{{ goal.title }}</strike>
        {% else %}
            {{ goal.title }}
        {% endif %}
    </h3>
    <form class="form" action="{{ url_for('goal', goal_id=goal.id) }}" method="POST">
        <input type="hidden" name="_method" value="UPDATE">
        <div class="form-group">
            <label for="update">Update <font color="red">*</font></label>
            <input class="form-control" name="update" id="update" type="text" autofocus/><br>
        </div>
        <div class="form-group">
            <label for="date">Date <font color="red">*</font></label>
            <input class="form-control" name="date" id="date" type="date" value="{{ today }}">
        </div>
        <button class="btn btn-sm btn-primary" name="submit" type="submit">Update</button>
    </form>
    <hr>
    {% for update in goal.parts %}
        <div class="well well-sm">
            <h4> {{ update.description }} </h4>
            <p class="text-muted">{{ update.date.strftime("%b %d %Y") }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
