{% extends "base.html" %}
{% block body %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(document).ready(function() {
        $(".readOnlyTags").css("border", "0px");
        $(".readOnlyTags").css("display", "inline-block");
        $(".readOnlyTags").css("margin-bottom", "0px");
    });
    $(function() {
        $('.readOnlyTags').tagit({
            readOnly: true
        });
    });
</script>
<div class="container">
    {% if user %}
        <div class="page-header">
            <div class="row">
                <div class="col-lg-2">
                    {% set imgpath = 'img/' ~ viewed_user.id %}
                    <a href="{{ url_for('user', user_id=viewed_user.id) }}">
                        <img class="img-rounded"
                             src="{{ url_for('static', filename=imgpath) }}"
                             width="100%"
                             alt="Image not found" onError="this.src='{{url_for('static', filename='img/placeholder.png')}}';">
                    </a>
                </div>
                <div class="col-lg-10">
                    <div class="col-lg-6">
                        <h3 class="pull-left">
                            {{ viewed_user.username }}
                            <span class="btn-group">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu">
                                    {% if viewed_user.id == user.id %}
                                        <li><a href="{{ url_for('user_edit', user_id=user.id) }}">Edit Profile</a></li>
                                        <li role="presentation" class="divider"></li>
                                        {% if user.member_of_gym %}
                                            <li><a href="{{ url_for('gym', gym_id=user.member_of_gym.id) }}">View Gym</a></li>
                                        {% elif user.owns_gym %}
                                            <li><a href="{{ url_for('gym', gym_id=user.owns_gym.id) }}">View Gym</a></li>
                                        {% elif viewed_user.is_gym_owner %}
                                            <li><a href="{{ url_for('gym_create') }}">Create Gym</a></li>
                                        {% else %}
                                             <li><a href="{{ url_for('gyms') }}">Find Gym</a></li>
                                        {% endif %}
                                    {% elif followed %}
                                        <li><a href="#" onclick="document.getElementById('un-follow').submit()">Stop Following User</a></li>
                                        <li>
                                            <form id="un-follow" action="{{ url_for('user', user_id=viewed_user.id) }}" method="post">
                                                <input type="hidden" name="follow" value="0">
                                            </form>
                                        </li>
                                    {% else %}
                                        <li><a href="#" onclick="document.getElementById('follow').submit()">Follow User</a></li>
                                        <li>
                                            <form id="follow" action="{{ url_for('user', user_id=viewed_user.id) }}" method="post">
                                                <input type="hidden" name="follow" value="1">
                                            </form>
                                        </li>
                                    {% endif %}
                                </ul>
                            </span>
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        {% if user.member_of_gym %}
                            <h3 class="pull-right">Member of: <a href="{{ url_for('gym', gym_id=user.member_of_gym.id) }}">{{ user.member_of_gym.name }}</a></h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if viewed_user.is_gym_owner %}
            {% if viewed_user.owns_gym %}
                <h3>Owner of: <a href="{{ url_for('gym', gym_id=viewed_user.owns_gym.id) }}">{{ viewed_user.owns_gym.name }}</a></h3>
                <hr>
                <h3>Recent recorded results:</h3>
                {% for member in viewed_user.owns_gym.members %}
                    {% for result in member.results %}
                        <div class="well well-sm">
                            <h4 class="pull-left"><a href="{{ url_for('result', result_id=result.id) }}">{{ result.workout.name }}</a></h4>
                            <h5 class="pull-right">Posted by: <a href="{{ url_for('user', user_id=member.id) }}">{{ member.username }}</a></h5>
                            <br /><br />
                            <p class="text-muted">{{ result.workout.post_date.strftime("%b %d %Y") }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% if viewed_user.id == user.id %}
                    <h3>No owned gyms found!</h3>
                {% endif %}
            {% endif %}
        {% else %}
            {% if viewed_user.member_of_gym %}
            {% else %}
                {% if viewed_user.id == user.id %}
                    <h3>No gyms found!</h3>
                {% endif %}
            {% endif %}
            {% if viewed_user.results %}
                <hr>
                <h3>Recent results:</h3>
                {% for result in results %}
                    <div class="well well-sm">
                        <h4 class="pull-left"><a href="{{ url_for('result', result_id=result.id) }}">{{ result.workout.name }}</a></h4>
                        <h5 class="pull-right">Posted for: <a href="{{ url_for('gym', gym_id=result.workout.gym.id) }}">{{ result.workout.gym.name }}</a></h5>
                        <br /><br />
                        <p class="text-muted">{{ result.workout.post_date.strftime("%b %d %Y") }}</p>
                        <ul class="readOnlyTags">
                        {% for part in result.workout.parts %}
                            {% for tag in part.tags %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No results found!</h3>
            {% endif %}
        {% endif %}
    {% else %}
        <h3>:(</h3>
    {% endif %}
</div>
{% endblock %}
