{% extends "base.html" %}
{% block body %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(document).ready(function() {
        $(".readOnlyTags").css("border", "0px");
        $(".readOnlyTags").css("display", "inline-block");
        $(".readOnlyTags").css("margin-bottom", "0px");
    });
    $(function() {
        $('.readOnlyTags').tagit({
            readOnly: true
        });
    });
</script>
<div class="container">
    {% if user %}
        <div class="page-header">
            <div class="row">
                <div class="col-lg-2">
                    {% set imgpath = 'img/' ~ user.id %}
                    <a href="{{ url_for('user', user_id=user.id) }}">
                        <img class="img-rounded"
                             src="{{ url_for('static', filename=imgpath) }}"
                             width="100%"
                             alt="Image not found" onError="this.src='{{url_for('static', filename='img/placeholder.png')}}';">
                    </a>
                </div>
                <div class="col-lg-10">
                    <div class="col-lg-6">
                        <h3 class="pull-left">
                            {{ user.username }}
                            <span class="btn-group">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('user_edit', user_id=user.id) }}">Edit Profile</a></li>
                                    <li role="presentation" class="divider"></li>
                                    {% if user.member_of_gym %}
                                        <li><a href="{{ url_for('gym', gym_id=user.member_of_gym.id) }}">View Gym</a></li>
                                    {% elif user.owns_gym %}
                                        <li><a href="{{ url_for('gym', gym_id=user.owns_gym.id) }}">View Gym</a></li>
                                    {% elif user.is_gym_owner %}
                                        <li><a href="{{ url_for('gym_create') }}">Create Gym</a></li>
                                    {% else %}
                                         <li><a href="{{ url_for('gyms') }}">Find Gym</a></li>
                                    {% endif %}
                                </ul>
                            </span>
                        </h3>
                    </div>
                    <div class="col-lg-6">
                        {% if user.member_of_gym %}
                            <h3 class="pull-right">Member of: <a href="{{ url_for('gym', gym_id=user.member_of_gym.id) }}">{{ user.member_of_gym.name }}</a></h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('index') }}">Results</a></li>
            <li class="active"><a href="#">Weigh-in</a></li>
        </ul>
        <br />
        <a class="btn btn-primary" href="{{ url_for('weighin_create') }}">Post Weigh-in</a>
        <br /><br />
        {% if user.weighins %}
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Weight</th>
                    <th>Body Fat %</th>
                    <th>Muscle Mass %</th>
                </tr>
                {% for weighin in user.weighins %}
                    <tr>
                        <td>{{ weighin.date.strftime("%b %d %Y") }}</td>
                        <td>{{ weighin.weight }}</td>
                        <td>{{ weighin.body_fat }}</td>
                        <td>{{ weighin.muscle_mass }}</td>
                        <td>
                            <span class="btn-group">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-cog"></span> <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('weighin_edit', weighin_id=weighin.id) }}">Edit Weigh-in</a></li>
                                </ul>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>No weighins found!</h3>
        {% endif %}
    {% else %}
        <h3>:(</h3>
    {% endif %}
</div>
{% endblock %}
